body{
    background-color: whitesmoke;
}
h4{
    color: rgb(20, 81, 105);
}
.font-clr{
   font-weight: bold;
   color: rgb(38, 120, 153);
}
.li-bg{
    background-color: rgb(38, 120, 153);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.main-bg{
    background-color: gainsboro;
}
.book-card{
    height: 480px;
    width: 335px;
    border: 2px solid goldenrod;
    background-color: black;
    color:white;
}
.book-card-img{
    height: 200px;
    width: 100%;
}